ul.tag-list{ display: inline-block; vertical-align: top; }

.tag-list-link:before{ content: '#';color: #555 !important; }
.tag-list-link{ color: #07F !important; }


ul.tag-list > li.tag-list-item{
  display: inline-block; vertical-align: top; padding: 2px 4px; font-size: 15px;
}

ul.tag-list > span.tag-list-count{}

/*
<li class="tag-list-item">
  <a class="tag-list-link" href="/tags/3DArt/" rel="tag">3DArt</a>
  <span class="tag-list-count">1</span>
</li>
*/
