<!DOCTYPE html>
<html lang="en-US">

  <head>
    

    <script type="text/javascript">
      if( location.host === '3dmadcat.com' && location.protocol !== 'https:' ) location.href = `https://${location.host}${location.pathname}`;
    </script>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="3DMadCat | About - 3DMadCat"/>
    <meta name="author" content="3DMadCat"/>
    <title>3DMadCat | About - 3DMadCat</title>

    <link rel="icon" type="image/png" href="https://3dmadcat.com/favicon.png" />
    <link rel="canonical" href="https://3dmadcat.com/about/index.html" />

    <meta property="og:title" content="3DMadCat | About - 3DMadCat" />
    <meta property="og:url" content="https://3dmadcat.com/about/index.html" />
    <meta property="og:type" content=""/>
    <meta property="og:video" content="" />
    <meta property="og:image" content="https://3dmadcat.com/OG/og_image.v0.0.1.jpg" />

    <meta name="twitter:site:id" content="https://twitter.com/3DMadCat"/>
    <meta name="twitter:title" content="3DMadCat | About - 3DMadCat"/>
    <meta name="twitter:image" content="https://3dmadcat.com/OG/og_image.v0.0.1.jpg"/>

    

    <meta name="google-site-verification" content="OTq1Nr751KDRIZHJHkOHmWd8rqYr52JvPUIi7Gfmq-M" />

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- lightbox -->
    <link rel="stylesheet" type="text/css" href="/vendor/simplelightbox/simple-lightbox.min.css"/>
    <script type="text/javascript" src="/vendor/simplelightbox/simple-lightbox.min.js"></script>

    <!-- Custom styles for this template -->
    <!-- <link href="/css/clean-blog.min.css" rel="stylesheet"/> -->
    <link href="/css/clean-blog.css" rel="stylesheet"/>
    <link href="/css/page-nav.css" rel="stylesheet"/>
    <link href="/css/tag-list.css" rel="stylesheet"/>
    <link href="/css/simple-lightbox-gallery.css" rel="stylesheet"/>
    <link href="/css/article-nav.css" rel="stylesheet"/>

    <!-- Custom scripts for this template -->
    <script src="/js/clean-blog.min.js"></script>

    <link rel="stylesheet" href="/vendor/alertifyjs/css/alertify.min.css"/>
    <link rel="stylesheet" href="/vendor/alertifyjs/css/themes/default.min.css"/>
    <script src="/vendor/alertifyjs/alertify.min.js"></script>

    <script type="text/javascript">
      alertify.defaults.glossary.title = '3DMadCat';
      // alertify.alert('OK').set({label: 'Super'});
    </script>


    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0"></script>

  <meta name="generator" content="Hexo 4.2.0"></head>

  <body>

      <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img class="navbar-brand-logo" width="32px" src="/favicon.png"> 3DMadCat
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/contacts">Contacts</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

      <!-- Page Header -->
  <!-- <header class="masthead" style="background-image: url('/img/home-bg.jpg')"> -->
  <header class="masthead" style="background-image: url('/img/channel/compose-6.min.png')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>#3DMadCat<br/>3DArt - Decor - Sculpture</h1>
            <span class="subheading">
              <!--
              Hi!<br/>
              I'm an Art, 3D-Art, 3D Pen, DIY, Sculpture maker enthusiast.
              -->
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>



    <div id="container">
      <div id="wrap">
        <div class="outer">
          <section id="main">
            

  <!-- [STATIC_PAGE] -->
  <div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-10 mx-auto">

      <div class="post-preview">

        <a href="#" class="post-title-url">
          <h2 class="">
            About - 3DMadCat
          </h2>
        </a>

        
        <p class="post-meta">          
          Posted by <a>3DMadCat</a>
          <time datetime="2020-01-08T23:00:00.000Z" itemprop="datePublished">2020-01-09</time><br/>
        </p>
        

        
        <div class="DEL-post-subtitle">
          <div class="img-common-wrapper text-center">
            <img class="img-fluid img-common" src="/OG/og_image.v0.0.1.jpg" alt=""/>
            <span class="caption text-muted">
              About - 3DMadCat
            </span>
          </div>
        </div>
        

        

        <div class="row">
          <div class="col-lg-10 col-md-10 mx-auto">
            
              
<h2 class="section-heading">3DMadCat</h2>

<p>
  I'm an 
  <a class="tag-list-link" href="/tags/3DPen/">Art</a>, 
  <a class="tag-list-link" href="/tags/3DPen/">3DArt</a>, 
  <a class="tag-list-link" href="/tags/3DPen/">Decor</a>, 
  <a class="tag-list-link" href="/tags/3DPen/">3DPen</a>, 
  DIY, 
  <a class="tag-list-link" href="/tags/3DPen/">Sculpture</a>
  maker enthusiast
</p>

<p>Feel free to Follow me on Twitter, Instagram and Youtube.</p>


<hr style="margin: 20px 0 40px 0;" />
<a class="post-title-url"> <h2 class=""> Gallery </h2> </a>

<div class="simple-lightbox-gallery">
  <a href="/img/projects/3DPen/YodaBaby-01/10.jpg"><img src="/img/projects/3DPen/YodaBaby-01/10.jpg" alt="Yoda-baby from The Mandalorian" title="Yoda-baby from The Mandalorian"/></a>
  <a href="/img/projects/bottle-decor/grape-paradise/02.jpg"><img src="/img/projects/bottle-decor/grape-paradise/02.jpg" alt="Grape Paradise - Gift Bottle decor" title="Grape Paradise - Gift Bottle decor"/></a>
  <!--
  <a href="<%- photo.url %>"><img src="<%- photo.url %>" alt="<%- photo.caption %>" title="<%- photo.caption %>"/></a>
  -->
</div>

<hr/>

<script type="text/javascript">
// simplelightbox.com  
const lightbox = $('.simple-lightbox-gallery a').simpleLightbox({
  alertError: false,
})
</script>

            
          </div>
        </div>

      </div>
      
    </div>
  </div>
</div>




  

  <script type="text/javascript">
  // simplelightbox.com  
  const lightbox = $('.simple-lightbox-gallery a').simpleLightbox({
    alertError: false,
  })
  </script>










          </section>
        </div>
      </div>
    </div>

    <!-- Footer -->

<hr/>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">

        
          <li class="list-inline-item">
            <a href="https://www.youtube.com/channel/UCrPcJCQOHpdPxXVgFH50N6Q" target="_blank" rel="noopener">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
                <div class="social-link-on-mobile">youtube</div>
              </span>
            </a>
          </li>
        
          <li class="list-inline-item">
            <a href="https://www.instagram.com/3dmadcat/" target="_blank" rel="noopener">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                <div class="social-link-on-mobile">instagram</div>
              </span>
            </a>
          </li>
        
          <li class="list-inline-item">
            <a href="https://twitter.com/3DMadCat" target="_blank" rel="noopener">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                <div class="social-link-on-mobile">twitter</div>
              </span>
            </a>
          </li>
        
          <li class="list-inline-item">
            <a href="https://www.facebook.com/valentina.madcat" target="_blank" rel="noopener">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-facebook fa-stack-1x fa-inverse"></i>
                <div class="social-link-on-mobile">facebook</div>
              </span>
            </a>
          </li>
        
          <li class="list-inline-item">
            <a href="https://discord.gg/eDGkRa" target="_blank" rel="noopener">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-discord fa-stack-1x fa-inverse"></i>
                <div class="social-link-on-mobile">discord</div>
              </span>
            </a>
          </li>
        

        </ul>

        <p class="copyright text-muted">
          Copyright &copy; 3DMadCat 2020-01-12
        </p>

      </div>
    </div>
  </div>
</footer>


<script type="text/javascript">

  // config.socials


  
</script>

    <!--
    <script id="dsq-count-scr" src="//3dmadcat.disqus.com/count.js" async></script>
    -->

  </body>

</html>

